.Header{
    color: white;
    padding:40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.Header img{
    height: 4rem;
}
.NavBar{
    display: inline;
    list-style: none;
}

.NavBar ul{
    align-self: flex-end;
    position: relative;
    margin: 0 important;
}
.NavBar li{
    cursor: pointer;
    display: inline;
    padding: 5px 30px;
    position: relative;
    margin: 50px 10px;
    transform: translateY(50%);
}

.NavBar li:hover:after{
    width: 100%;
}

.NavBar li:after{
    content: " ";
background-color: white;
width: 0;
height: 1px;
position: absolute;
right: 0;
bottom: -5px;
right: auto;
left: 0;
transition: all 0.5s ease;
}


